@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

#chapter-16 blockquote > footer > p{
	text-indent: 0;
}

#chapter-16 blockquote:nth-of-type(3) > footer{
	display: grid;
	grid-column-gap: 1em;
	grid-template-columns: 1fr auto;
	justify-items: end;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

#chapter-68 figure p{
	text-indent: 0;
}

#chapter-68 figure > div{
	display: flex;
	flex-direction: row;
	min-height: 14em;
}

#chapter-68 figure div > div:nth-child(1){
	text-align: center;
	transform: rotate(270deg);
	white-space: nowrap;
}

#chapter-68 figure div > div:nth-child(3){
	text-align: center;
	transform: rotate(90deg);
	white-space: nowrap;
}

#chapter-68 figure > div > div:nth-child(2){
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: center;
}

#chapter-77 figure > span{
	margin: .5em;
}

@supports(display: flex){
	#chapter-77 figure{
		display: flex;
	}

	#chapter-77 figure > span{
		flex: 1;
	}
}

[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

#chapter-65 blockquote{
	text-align: center;
}

#chapter-78 blockquote{
	text-align: center;
}

#chapter-70 blockquote:last-of-type > p:first-child{
	text-align: center;
}

#chapter-71 blockquote > p{
	text-align: center;
	text-indent: 0;
}

#appendix-c blockquote{
	margin-left: 0;
	margin-right: 0;
}

#appendix-c blockquote > div:first-child header:first-child > p:first-child{
	font-variant: normal;
	text-align: right;
}

#chapter-53 blockquote{
	margin-left: 0;
	margin-right: 0;
}
