@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

span.small-font{
	font-size: .75em;
}

footer p.multiple-signatures{
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	font-variant: small-caps;
	text-align: left;
}

.center{
	text-align: center;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

figure{
	break: avoid;
}

#chapter-68 figure{ 
	text-align: center; 
}

#chapter-68 figure p{ 
	text-indent: 0;
}

#chapter-68 figure > div{
	min-height: 14em;
	display: flex;
	flex-direction: row;
}

#chapter-68 figure div > div:nth-child(1){
	white-space: nowrap;
	text-align: center;
	transform: rotate(270deg);
}

#chapter-68 figure div > div:nth-child(3){
	white-space: nowrap;
	text-align: center;
	transform: rotate(90deg);
}

#chapter-68 figure > div > div:nth-child(2){
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

#chapter-77 div{
	display: flex;
}

#chapter-77 div > p{
	flex: 1;
	text-align: center;
}

p.right-align{
	text-align: right;
}

abbr.era{
	font-variant: all-small-caps;
}
