@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:poem"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

span.small-font{
	font-size: .75em;
}

footer p.multiple-signatures{
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	font-variant: small-caps;
	text-align: left;
}

.center{
	text-align: center;
}

.center-vertically{
	vertical-align: middle;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

figure{
	break: avoid;
}

div.rotated-container{
	display: flex;
	flex-direction: row;
}

p.rotate-clockwise{
	white-space: nowrap;
	text-align: center;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}

p.rotate-counterclockwise{
	white-space: nowrap;
	text-align: center;
	writing-mode: vertical-lr;
}

div.hearse-container{
	display: flex; 
	flex: 1; 
	align-items: center; 
	justify-content: center;
}
